# --- GENERAL APP CONFIGURATION
# Valid APP_ENV values are development/production
# if no valid value is given, this defaults to development
APP_ENV=development
# Do not include the protocol (http(s)://) here
# to let caddy handle ssl automatically
APP_DOMAIN=localhost

# --- DB CONFIGURATION
MONGO_ADMIN_PASSWORD=secure_admin_password
MONGO_DATABASE_NAME=autora_db
MONGO_USER_NAME=autora_backend_user
MONGO_USER_PWD=superduper_secure_password
# ONLY CHANGE the host if you are not connecting to the docker hosted mongodb
MONGO_HOST=mongodb

# --- JWT CONFIGURATION
# Both secrets need to be at least 32 chars
JWT_ACCESS_SECRET=insert-secret-here
JWT_REFRESH_SECRET=insert-secret-here
